/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Image Container

.img-container {
  display: flex;
  height: 350px;
  overflow: hidden;
  justify-content: center;
  .card-img-top {
    object-fit: cover;
  }
}

.card-title {
  text-transform: capitalize;
}
