<div class="container">
  <h3 class="text-center mt-5 display-4">About</h3>
  <div class="row mt-5 justify-content-center">
    <div class="col-12 col-xl-6">
      <p>
        Adrián's Image Gallery® is a simple university project made for learning
        the basics of Angular. I spent exactly 15 hours to get it working (6
        hours just to make the database connection). Anyways, you can find cool
        images on this site from <a href="https://unsplash.com">Unsplash</a>.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="d-grid col-4 mx-auto mt-4">
      <a class="btn btn-dark btn-lg" routerLink="/images" role="button"
        >All Images</a
      >
    </div>
  </div>
</div>
